<section class="achievements">
  <div class="container">
    <div class="achievements-conttent">
      <p class="achievements-conttent-text">achievements</p>
      <h2 class="achievements-conttent-title">
        We Worked With <span>100+</span> Company Over <span>10</span> Years
      </h2>
      <img class="achievements-conttent-img" src="../img/omedic.png" alt="" />
      <h3 class="achievements-conttent-title-company">
        JobHub Job Finding Website
      </h3>
      <p class="achievements-conttent-text-company">
        This website has become one of the best ux interface for users with an
        beautiful ui and also lucrative fot upcoming startups in the sectors
      </p>
      <a class="achievements-conttent-link-company" href="">View More Work</a>
    </div>
    <div class="achievements-wrapper">
      <ul class="achievements-wrapper-list">
        <li class="achievements-wrapper-item">
          <p class="achievements-wrapper-list-number">9k+</p>
          <p class="achievements-wrapper-list-text">Completed Full Projects</p>
          <p class="achievements-wrapper-country">From 789+ Companies</p>
        </li>
        <li>
          <p class="achievements-wrapper-list-number">924+</p>
          <p class="achievements-wrapper-list-text">
            Satisfiingly Happy Clients
          </p>
          <p class="achievements-wrapper-country">From 100+ Countries</p>
        </li>
        <li>
          <p class="achievements-wrapper-list-number">416</p>
          <p class="achievements-wrapper-list-text">
            Expertised Unit Employees
          </p>
          <p class="achievements-wrapper-country">From 20+ Countries</p>
        </li>
        <li>
          <p class="achievements-wrapper-list-number">3024</p>
          <p class="achievements-wrapper-list-text">Startups Case Studies</p>
          <p class="achievements-wrapper-country">From 100+ Countries</p>
        </li>
      </ul>
      <img src="../img/Cent.png" alt="" />
      <h3 class="achievements-conttent-title-company">
        CENT - Payment App Landing Website
      </h3>
      <p class="achievements-conttent-text-company">
        This website has become one of the best ux interface for users with an
        beautiful ui and also lucrative fot upcoming startups in the sectors
      </p>
    </div>
  </div>
</section>
