<section class="blog">
  <div class="container">
    <p>blog</p>
    <h2>We Publish Blogs Every Week</h2>
    <p>
      We understand how desperatly you want to grow in the business world & our
      motto is to help you with practicale idea and plan
    </p>
    <ul>
      <li>
        <span>22 Dec</span>
        <img src="../img/blog1.jpg" alt="" />
        <h3>Upgrowing Economy Needs More Startups</h3>
        <p>
          We understand how desperatly you want to grow in the business world &
          our motto is to help you with practicale idea and plan
        </p>
        <a href=""
          >Learn More <use> <svg></svg> </use
        ></a>
      </li>
      <li>
        <span>16 Dec</span>
        <img src="../img/blog2.jpg" alt="" />
        <h3>Team Has Some Unique Feature - What Yours?</h3>
        <p>
          We understand how desperatly you want to grow in the business world &
          our motto is to help you with practicale idea and plan
        </p>
        <a href=""
          >Learn More <use> <svg></svg></use
        ></a>
      </li>
    </ul>
  </div>
</section>
