<section class="blog">
  <div class="container blog-container">
    <p class="blog-text">blog</p>
    <h2 class="blog-title">We Publish Blogs Every Week</h2>
    <p class="blog-title-text">
      We understand how desperatly you want to grow in the business world & our
      motto is to help you with practicale idea and plan
    </p>
    <ul class="blog-list">
      <li class="blog-item">
        <span class="blog-decor">22 Dec</span>
        <img class="blog-img" src="../img/blog1.jpg" alt="" />
        <h3 class="blog-list-title">Upgrowing Economy Needs More Startups</h3>
        <p class="blog-list-text">
          We understand how desperatly you want to grow in the business world &
          our motto is to help you with practicale idea and plan
        </p>
        <a class="blog-list-link" href=""
          >Learn More <use> <svg></svg> </use
        ></a>
      </li>
      <li class="blog-item">
        <span class="blog-decor">16 Dec</span>
        <img class="blog-img" src="../img/blog2.jpg" alt="" />
        <h3 class="blog-list-title">
          Team Has Some Unique Feature - What Yours?
        </h3>
        <p class="blog-list-text">
          We understand how desperatly you want to grow in the business world &
          our motto is to help you with practicale idea and plan
        </p>
        <a class="blog-list-link" href=""
          >Learn More <use> <svg></svg></use
        ></a>
      </li>
    </ul>
  </div>
</section>
