<section class="company">
  <div class="container">
    <h2 class="company title"></h2>
    <ul class="company list">
      <li class="company-list-item">
        <a href="" class="company-list-link"
          ><img src="../img/netflix.png" alt="" class="company-link-img" />
        </a>
      </li>
      <li class="company-list-item">
        <a href="" class="company-list-link"
          ><img src="../img/forbes.png" alt="" class="company-link-img" />
        </a>
      </li>
      <li class="company-list-item">
        <a href="" class="company-list-link"
          ><img src="../img/itel.png" alt="" class="company-link-img" />
        </a>
      </li>
      <li class="company-list-item">
        <a href="" class="company-list-link"
          ><img src="../img/fedex.png" alt="" class="company-link-img" />
        </a>
      </li>
      <li class="company-list-item">
        <a href="" class="company-list-link"
          ><img src="../img/audiomack.png" alt="" class="company-link-img" />
        </a>
      </li>
      <li class="company-list-item">
        <a href="" class="company-list-link"
          ><img src="../img/penguines.png" alt="" class="company-link-img" />
        </a>
      </li>
      <li class="company-list-item">
        <a href="" class="company-list-link"
          ><img src="../img/bigel.png" alt="" class="company-link-img" />
        </a>
      </li>
      <li class="company-list-item">
        <a href="" class="company-list-link"
          ><img src="../img/gotomeeting.png" alt="" class="company-link-img" />
        </a>
      </li>
    </ul>
  </div>
</section>
