<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <h3 class="footer-title">
        Subscribe To Our Newsletter Get The Best Offers
      </h3>
      <a class="footer-link" href="">With One Click</a>
      <button class="footer-btn">
        Subscribe
        <use>
          <svg></svg>
        </use>
      </button>
    </div>
    <div class="footer-navigation">
      <ul class="footer-logo-list">
        <li class="footer-logo-item">
          <a href="" class="footer-logo">amid.</a>
        </li>
        <li class="footer-logo-item">
          <p class="footer-logo-text">business consultancy agency</p>
        </li>
      </ul>
      <ul class="footer-navigation-list">
        <li class="footer-navigation-item">
          <a href="" class="footer-navigation-link">About</a>
        </li>
        <li class="footer-navigation-item">
          <a href="" class="footer-navigation-link">Terms</a>
        </li>
        <li class="footer-navigation-item">
          <a href="" class="footer-navigation-link">Blogs</a>
        </li>
        <li class="footer-navigation-item">
          <a href="" class="footer-navigation-link">Contact</a>
        </li>
      </ul>

      <ul class="footer-contact-list">
        <li class="footer-contact-item">
          <a href="tel:+" class="footer-contact-link">+998 1276 234</a>
        </li>
        <li class="footer-contact-item">
          <a href="" class="footer-contact-link">82/93 Boeind Street. NY</a>
        </li>
        <li class="footer-contact-item">
          <a href="mailto:" class="footer-contact-link">info@amid.mail.com</a>
        </li>
      </ul>
    </div>
    <div class="footer-soc">
      <p class="-footer-soc-text">All Rights Reserved @Debzui2020</p>
      <ul class="footer-soc-list">
        <li class="footer-soc-item">
          <a href="" class="footer-soc-link">
            <use href="">
              <svg class="footer-soc-icon"></svg>
            </use>
          </a>
        </li>
        <li class="footer-soc-item">
          <a href="" class="footer-soc-link">
            <use href="">
              <svg class="footer-soc-icon"></svg>
            </use>
          </a>
        </li>
        <li class="footer-soc-item">
          <a href="" class="footer-soc-link">
            <use href="">
              <svg class="footer-soc-icon"></svg>
            </use>
          </a>
        </li>
        <li class="footer-soc-item">
          <a href="" class="footer-soc-link">
            <use href="">
              <svg class="footer-soc-icon"></svg>
            </use>
          </a>
        </li>
        <li class="footer-soc-item">
          <a href="" class="footer-soc-link">
            <use href="">
              <svg class="footer-soc-icon"></svg>
            </use>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
