<header class="header">
  <div class="container header-container">
    <a href="" class="header-logo"
      ><img class="header-logo-img" src="../img/logo.png" alt="" />amid.</a
    >
    <nav class="header-navigation">
      <ul class="header-list">
        <li class="header-list-item">
          <a href="" class="header-list-link">About amid</a>
        </li>
        <li class="header-list-item">
          <a href="" class="header-list-link">Features</a>
        </li>
        <li class="header-list-item">
          <a href="" class="header-list-link">Portfolio</a>
        </li>
        <li class="header-list-item">
          <a href="" class="header-list-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="header-button">Login</button>
    <button type="button" class="header-menu-button">
      <svg class="header-menu-icon">
        <use href="../img/icons/sprite.svg#icon-menu"></use>
      </svg>
      <svg class="header-menu-icon-close">
        <use href="../img/icons/sprite.svg#icon-cross"></use>
      </svg>
    </button>
  </div>
</header>
