<header class="header">
  <div class="container header-container">
    <a href="" class="header-logo">amid.</a>
    <ul class="header-list">
      <li class="header-list-item">
        <a href="" class="header-list-link">About amid</a>
      </li>
      <li class="header-list-item">
        <a href="" class="header-list-link">Features</a>
      </li>
      <li class="header-list-item">
        <a href="" class="header-list-link">Portfolio</a>
      </li>
      <li class="header-list-item">
        <a href="" class="header-list-link">Reviews</a>
      </li>
    </ul>
    <button class="header-button">Login</button>
  </div>
</header>
