<section class="hero">
  <div class="container hero-container">
    <div class="hero-wrap-content">
      <p class="hero-wrap-content-text">it works!</p>
      <h1 class="hero-wrap-content-title">
        Try Our Business Ideas to grow Rapidly
      </h1>
      <p class="hero-wrap-content-title-text">
        We understand how desperatly you want to grow in the business world &
        our motto is to help you with practicale idea and plan
      </p>
      <div class="hero-wrap-btn">
        <a href="" class="hero-wrap-content-btn-start">Get Started</a>
        <button class="hero-wrap-content-btn">
          <svg class="hero-wrap-content-btn-svg">
            <use href="../img/icons/sprite.svg#icon-play"></use>
          </svg>

          DEMO VIDEO
        </button>
      </div>
    </div>
    <div class="hero-wrapper">
      <img src="../img/circle.png" alt="" class="hero-wrapper-img" />
      <img src="../img/circle-litle.png" alt="" class="hero-wrapper-img" />
      <img src="../img/girl.png" alt="" class="hero-wrapper-img" />
      <ul class="hero-wrapper-list">
        <li class="hero-wrapper-item">
          <button class="hero-wrapper-btn">
            <svg class="hero-wrapper-svg">
              <use href="../img/icons/sprite.svg#icon-Vector"></use>
            </svg>
          </button>
        </li>
        <li class="hero-wrapper-item">
          <button class="hero-wrapper-btn">
            <svg class="hero-wrapper-svg">
              <use href="../img/icons/sprite.svg#icon-Vector1"></use>
            </svg>
          </button>
        </li>
        <li class="hero-wrapper-item">
          <button class="hero-wrapper-btn">
            <svg class="hero-wrapper-svg">
              <use href="../img/icons/sprite.svg#icon-vector2"></use>
            </svg>
          </button>
        </li>
        <li class="hero-wrapper-item">
          <button class="hero-wrapper-btn">
            <svg class="hero-wrapper-svg">
              <use href="../img/icons/sprite.svg#icon-vector3"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
