<section class="hero">
  <div class="container">
    <div class="hero-wrap-content">
      <p class="hero-wrap-content-text">it works!</p>
      <h1 class="div hero-wrap-content-title">
        Try Our Business Ideas to grow Rapidly
      </h1>
      <p class="div hero-wrap-content-title-text">
        We understand how desperatly you want to grow in the business world &
        our motto is to help you with practicale idea and plan
      </p>
      <a href="" class="hero-wrap-content-btn-start">Get Started</a>
      <button class="hero-wrap-content-btn">
        <use href="">
          <svg class="hero-wrap-content-btn-svg"></svg>
        </use>
        DEMO VIDEO
      </button>
    </div>
    <div class="hero-wrapper">
      <img src="../img/circle.png" alt="" class="hero-wrapper-img" />
      <img src="../img/circle-litle.png" alt="" class="hero-wrapper-img" />
      <img src="../img/hero-girl.jpg" alt="" class="hero-wrapper-img" />
      <ul class="hero-wrapper-list">
        <li class="hero-wrapper-item">
          <button class="hero-wrapper-btn">
            <use href="">
              <svg class="hero-wrapper-svg"></svg>
            </use>
          </button>
        </li>
        <li class="hero-wrapper-item">
          <button class="hero-wrapper-btn">
            <use href="">
              <svg class="hero-wrapper-svg"></svg>
            </use>
          </button>
        </li>
        <li class="hero-wrapper-item">
          <button class="hero-wrapper-btn">
            <use href="">
              <svg class="hero-wrapper-svg"></svg>
            </use>
          </button>
        </li>
        <li class="hero-wrapper-item">
          <button class="hero-wrapper-btn">
            <use href="">
              <svg class="hero-wrapper-svg"></svg>
            </use>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
