<section class="services">
  <div class="container">
    <div class="services-content">
      <p class="services-text">services</p>
      <h2 class="services-title">Exactly Everything You Need For Business</h2>
      <p class="services-title-text">
        We understand how desperatly you want to grow in the business world &
        our motto is to help you with practicale idea and plan
      </p>
    </div>
    <div class="services-wrapper">
      <ul class="services-list">
        <li class="services-list-item">
          <use href="">
            <svg class="services-list-svg"></svg>
          </use>
          <h3 class="services-list-title">Business Growing Support</h3>
          <p class="services-list-text">
            Get every necessary support to grow as business startup
          </p>
          <a href="" class="services-list-link"
            >Learn More
            <use href="">
              <svg class="services-list-link-icon"></svg>
            </use>
          </a>
        </li>
        <li class="services-list-item">
          <use href="">
            <svg class="services-list-svg"></svg>
          </use>
          <h3 class="services-list-title">Community Attachment</h3>
          <p class="services-list-text">
            A lifetime attachment with the community dreamer
          </p>
          <a href="" class="services-list-link"
            >Learn More
            <use href="">
              <svg class="services-list-link-icon"></svg>
            </use>
          </a>
        </li>
        <li class="services-list-item">
          <use href="">
            <svg class="services-list-svg"></svg>
          </use>
          <h3 class="services-list-title">Exceptional Discovery Plans</h3>
          <p class="services-list-text">
            An exceptional plan can take you ahead millions of step which we
            discove
          </p>
          <a href="" class="services-list-link"
            >Learn More
            <use href="">
              <svg class="services-list-link-icon"></svg>
            </use>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
